<ion-header>
  <ion-navbar color="oranges">
    <ion-title>{{ 'PAY_CHOOSE_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="showBlank == false">
    <ion-list radio-group>
      <ion-item *ngFor="let pay of _dataPayList" no-padding>
        <div item-left>
          <div class="external-logo logo-{{ pay.slug }}"></div>
        </div>
        <ion-label>
          <div text-sm>{{ pay.name }}</div>
          <div *ngIf="pay.tax != 0" text-sm text-gray>({{ 'PAY_TAX' | translate }} {{ pay.tax | seNum:0 }})</div>
        </ion-label>
        <ion-radio (click)="choose(pay)"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="showBlank == true">
    <div padding margin text-center>
      <div margin><img src="assets/icon/kiosdesa-logo-cry.svg" style="width:50%" /></div>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="showBlank == false" bg-white border-top border-smoke>
  <div *ngIf="_dataChoosePay">
    <ion-list no-margin>
      <ion-item>
        <div item-left text-sm text-gray float-left>{{ 'PAY_CHOOSED_NOTE' | translate }}</div>
        <div item-right text-sm text-secondary float-right>{{ _dataChoosePay.name }}</div>
      </ion-item>
      <ion-item *ngIf="_dataChoosePay.account != null" >
        <div item-left text-sm text-gray float-left>{{ 'PAY_CODE_ACCOUNT_NAME' | translate }}</div>
        <div item-right text-sm text-secondary float-right>{{ _dataChoosePay.account }}</div>
      </ion-item>
      <ion-item *ngIf="_dataChoosePay.account_name != null">
        <div item-left text-sm text-gray float-left>{{ 'PAY_ATASNAMA' | translate }}</div>
        <div item-right text-sm text-secondary float-right>{{ _dataChoosePay.account_name }}</div>
      </ion-item>
      <ion-item *ngIf="_dataChoosePay.tax != 0">
        <div text-sm text-bluesexy text-right text-underline margin-right-sm>
          <i>*{{ 'PAY_TAX_MESSAGE' | translate }} : <strong>{{ _dataChoosePay.tax | seNum:0 }}</strong></i>
        </div>
      </ion-item>
      <ion-item *ngIf="_dataChoosePay.type == 'balance'">
        <div text-sm padding-bottom-md border-bottom border-light [class]="_messageBalance.status == true ? 'text-secondary' : 'text-gray'">
          <span text-graybrow>{{ 'USER_BALANCE' | translate }}:</span> <strong>{{ _messageBalance.balance }}</strong>
        </div>
        <div text-sm margin-top-sm padding-top-md [class]="_messageBalance.status == true ? 'text-bluesexy' : 'text-danger'">
          <span [innerHTML]="sanitizer.bypassSecurityTrustHtml(_messageBalance.message)"></span>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-12 no-padding-bottom>
        <button (click)="placeorder({page:'CartInvoicePage'})" ion-button [color]="payNowButtonStatus == true ? 'secondary' : 'gray'" [disabled]="payNowButtonStatus !== true" icon-start block>
          <ion-icon name="ios-card"></ion-icon> {{ 'PAY_BUTTON' | translate }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>