<ion-header>
  <ion-navbar color="oranges">
    <ion-title>{{ 'PAY_CONFIRM_BUTTON' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="_dataLoad">
    <div [innerHTML]="_dataMessage" container padding margin-bottom-lg text-graybrow></div>
    <ion-list>
      <ion-list-header no-margin>
        <span margin-right-md>{{ 'CONFIRM_CHOOSE' | translate }}</span><ion-icon name="ios-arrow-down" icon-center-all></ion-icon>
      </ion-list-header>
      <button ion-item *ngFor="let pay of _dataLoad" (click)="openUrl(pay.content, pay.name, pay.type)">
        <ion-icon item-start [name]="pay.icon.name" [color]="pay.icon.color"></ion-icon>
        {{ pay.name }}
      </button>
    </ion-list>
  </div> 
</ion-content>