<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'SHOP_USER_EDIT' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="_dataKios" padding-horizontal>
    <ion-list>
      <ion-item *ngFor="let kios of _dataKios; let i = index" no-padding>
        <ion-label color="bluesexy" stacked *ngIf="kios.type != 'hide'"><strong>{{ kios.label }}</strong></ion-label>
        <ion-input *ngIf="kios.type == 'autocomplete'" type="text" [name]="kios.field" [(ngModel)]="kios.value" (keypress)="popoverPress($event, i, kios.field, _tmpValue)" (ionChange)="choosePopover($event, i, kios.field, _tmpValue)" [placeholder]="kios.placeholder + '...'" text-smd></ion-input>
        <ion-input *ngIf="kios.type == 'text' || kios.type == 'number'" [type]="kios.type" [name]="kios.field" [(ngModel)]="kios.value" (ionBlur)="sanitizeInput(kios.value, i)" [placeholder]="kios.placeholder + '...'" [readonly]="kios.readonly" text-smd></ion-input>
        <ion-input *ngIf="kios.type == 'disable'" type="text" value="{{ kios.value }}" disabled="true"></ion-input>
        <ion-textarea *ngIf="kios.type == 'textarea'" [(ngModel)]="kios.value" name="{{ kios.field }}" (ionBlur)="sanitizeInput(kios.value, i)" placeholder="text here..." text-dark text-sm textarea-custom-form no-margin>
          {{ kios.value }}
        </ion-textarea>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer bg-light border-top border-smoke>
  <ion-list no-margin>
    <div padding>
      <button (click)="doUpdate()" ion-button color="danger" block>{{ 'CHANGE_BUTTON' | translate }}</button>
    </div>
  </ion-list>
</ion-footer>
