<ion-header>
  <ion-navbar color="cyan">
    <ion-title>
      {{ 'NEWS_TITLE' | translate }}
    </ion-title>
    <ion-buttons end>
        <button ion-button menuToggle="right" right>
          <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-dark" (swipe)="swipe($event)">
  <div [ngSwitch]="typeSegment" class="container-fixed fixed-container-bottom">
    <ion-grid no-padding no-margin>
      <ion-row no-padding no-margin>
        <ion-col *ngFor="let item of cardItems" col-sm-12 col-md-12 col-lg-6 col-xl-4>
          <ion-card>
            <ion-item>
              <h2>{{item.title}}</h2>
              <p>{{item.publishedAt}}</p>
            </ion-item>
            <img *ngIf="item.urlToImage" [src]="item.urlToImage">
            <ion-card-content>
              <p>{{item.description}} - <ion-note><ion-icon name="md-people"></ion-icon> {{item.author}}</ion-note></p>
            </ion-card-content>
            <ion-item>
              <span item-left><ion-note><ion-icon name="md-paper"></ion-icon> {{item.source.name}}</ion-note></span>
              <button ion-button icon-left clear item-end (click)="openUrl(item.url, item.title)">
                <ion-icon name="md-link"></ion-icon>
                Full News
              </button>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer bg-light border-top border-smoke>
  <div padding class="bg-white">
    <ion-segment [(ngModel)]="typeSegment">
      <ion-segment-button value="bumdes" (ionSelect)="fetchNews('bumdes')">
        BUMDES
      </ion-segment-button>
      <ion-segment-button value="ukm" (ionSelect)="fetchNews('produk+ukm+indonesia')">
        UKM
      </ion-segment-button>
      <ion-segment-button value="marketplace" (ionSelect)="fetchNews('toko+online+indonesia')">
        Marketplace
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-footer>