page-news {
    main.segment-main-button {
        position: absolute;
        z-index: 9;
    }
    .container-fixed.fixed-container-top {
        margin-top:80px;
    }
    .container-fixed.fixed-container-bottom {
        margin-bottom:80px;
    }
    .fixed-position {
        position: fixed !important;
        left: 0px;
        right: 0px;
    }
    .fixed-position.fixed-position-top {
        top: 0px;
    }
    .fixed-position.fixed-position-bottom {
        bottom: 0px;
    }
}
