<ion-header>
  <ion-navbar [color]="_nuAing == true ? 'secondary' : 'light'">
    <ion-buttons *ngFor="let topMenu of topRightMenu" end>
        <button ion-button (click)="goToNextTab(topMenu)" icon-only>
            <ion-badge *ngIf="topMenu.notif > 0 ? topMenu.notif : null" [color]="_nuAing == true ? 'danger' : 'facebook'" class="top-notif-badge">{{ topMenu.notif }}</ion-badge>
            <ion-icon [name]="topMenu.icon + '-outline'"></ion-icon>
        </button>
    </ion-buttons>
    <ion-buttons end>
        <button (click)="favProduct()" *ngIf="_nuAing == false" ion-button icon-only>
            <ion-icon *ngIf="favorited == false" name="ios-heart-outline"></ion-icon>
            <ion-icon *ngIf="favorited == true" name="ios-heart" color="danger"></ion-icon>
        </button>
        <button (click)="shareProduct()" ion-button icon-only>
            <ion-icon name="ios-share-outline"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="_showBlank == false">
    <div *ngFor="let product of _dataProduct" block bg-light>
      <div>
        <div *ngIf="_readyOrder == true">
          <div style="width:100%" *ngIf="product.photo.length">
            <ion-slides *ngIf="product.photo.length" class="banner-slides" pager="true" dir="{{dir}}" loop="false">
              <ion-slide *ngFor="let photos of product.photo">
                <img [src]="_cdnProduct + '/' + photos" class="slide-image" />
              </ion-slide>
            </ion-slides>
          </div>
        </div>
        <div [ngClass]="_readyOrder == true ? '' : 'deactive'">
          <span class="badge-empty-stock" text-center *ngIf="_readyOrder == false">
            <ion-badge color="dark">{{ 'PRODUCT_STOCK_EMPTY' | translate }}</ion-badge>
          </span>
          <div style="width:100%" *ngIf="product.photo == false">
            <img [src]="_cdnProduct + '/' + product.thumb" style="width:100%" />
          </div>
          <div style="width:100%" *ngIf="product.photo !== false && _readyOrder == false">
            <img [src]="_cdnProduct + '/' + product.thumb" style="width:100%" />
          </div>
        </div>
        <div padding bg-white border-bottom border-smoke [ngClass]="_readyOrder == true ? '' : 'deactive'">
          <h5 text-left text-wrap [ngClass]="_readyOrder == true ? '' : 'text-strike'">{{ product.name }}</h5>
          <h5 text-danger [ngClass]="_readyOrder == true ? '' : 'text-strike'">{{ product.fix_price }}</h5>
          <div margin-vertical-md>
            <div padding-horizontal-md padding-vertical-sm bg-light text-sm [class]="product.stock < 10 ? 'text-danger' : 'text-graybrow'" *ngIf="_readyOrder == true">
              <ion-icon name="ios-archive-outline" class="icon-center-all" style="zoom:1.7"></ion-icon>
              <span *ngIf="product.stock >= 10" padding-left-sm>{{ product.stock }} {{ 'PRODUCT_STOCK' | translate }}</span>
              <span *ngIf="product.stock < 10" padding-left-sm>{{ 'PRODUCT_STOCK_LIMIT' | translate }} {{ product.stock }} pcs</span>
            </div>
            <hr hr-white margin-top-md />
          </div>
        </div>
        <div padding margin-vertical-md bg-white border-horizontal border-smoke>
          <div text-graybrow margin-bottom>{{ 'PRODUCT_INFO_TITLE' | translate }}</div>
          <ion-grid *ngIf="_readyOrder == true">
            <ion-row>
              <ion-col col-3>
                <div text-center>
                  <div text-lg><ion-icon name="md-stopwatch" color="graybrow"></ion-icon></div>
                  <div margin-top-sm block text-graybrow text-sm>{{ 'PRODUCT_WEIGTH_TITLE' | translate }}</div>
                  <div margin-top-sm block text-sm>{{ product.weight_gram }} gr</div>
                </div>
              </ion-col>
              <ion-col col-3>
                <div text-center>
                  <div text-lg><ion-icon name="ios-help-buoy" color="graybrow"></ion-icon></div>
                  <div margin-top-sm block text-graybrow text-sm>{{ 'PRODUCT_INSURANCE_TITLE' | translate }}</div>
                  <div margin-top-sm block text-sm>{{ product.insurance }}</div>
                </div>
              </ion-col>
              <ion-col col-3>
                <div text-center>
                  <div text-lg><ion-icon name="md-swap" color="graybrow"></ion-icon></div>
                  <div margin-top-sm block text-graybrow text-sm>{{ 'PRODUCT_RETURN_TITLE' | translate }}</div>
                  <div margin-top-sm block text-sm>{{ product.returned }}</div>
                </div>
              </ion-col>
              <ion-col col-3>
                <div text-center>
                  <div text-lg><ion-icon name="md-clipboard" color="graybrow"></ion-icon></div>
                  <div margin-top-sm block text-graybrow text-sm>{{ 'PRODUCT_MINORDER_TITLE' | translate }}</div>
                  <div margin-top-sm block text-sm>{{ product.minimum_order }} pcs</div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div margin-top border-horizontal border-smoke padding-vertical *ngIf="_readyOrder == true">
            <ion-grid no-padding>
              <ion-row no-padding>
                <ion-col col-8 text-graybrow>{{ 'PRODUCT_CONDITION_TITLE' | translate }}</ion-col>
                <ion-col col-4 text-right text-nowrap>{{ product.condition }}</ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div padding-vertical>
            <ion-grid no-padding>
              <ion-row no-padding>
                <ion-col col-6 text-graybrow>{{ 'CATEGORY_TITLE' | translate }}</ion-col>
                <ion-col col-6 text-right text-nowrap>
                  <a href="#" (click)="openRootPage(_dataPageCategory)">{{ product.category_detail.name }}</a>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
        <div padding margin-vertical-md bg-white border-horizontal border-smoke>
          <div text-graybrow>{{ 'PRODUCT_DESCRIPTION_TITLE' | translate }}</div>
          <p line-height-md>{{ product.description }}</p>
          <hr hr-white />
          <div text-graybrow margin-top-md>{{ 'SELLER_NOTE_TITLE' | translate }}</div>
          <p line-height-md>{{ product.seller_detail.note }}</p>
        </div>
        <div *ngIf="_nuAing == false" padding margin-vertical-md bg-white border-horizontal border-smoke>
          <div text-graybrow margin-bottom-lg>
            {{ 'SELLER_TITLE' | translate }} 
            <button (click)="openPage(product.seller_detail)" ion-button color="graybrow" clear small float-right no-margin no-padding style="height:auto">
              {{ 'SELLER_SEE_SHOP_TITLE' | translate }} <ion-icon name="ios-arrow-dropright-outline" margin-left-sm></ion-icon>
            </button>
          </div>
          <ion-grid no-padding>
            <ion-row no-padding>
              <ion-col col-2 text-graybrow text-left>
                <img [src]="product.seller_detail.logo" />
              </ion-col>
              <ion-col col-10 text-nowrap text-left margin-bottom>
                <h6 margin-left-md text-nowrap>
                  <span *ngIf="product.seller_detail.premium_shop_type == true" margin-right-sm>
                    <img [src]="_cdnIcon + '/diamond.svg'" width="6%" class="icon-center-all" />
                  </span>
                  <span [class]="product.seller_detail.premium_shop_type == true ? 'text-facebook text-underline' : ''">
                    {{ product.seller_detail.name }}
                  </span>
                </h6>
                <div margin-left-md margin-bottom-md>
                  <div text-gray text-sm>
                    <ion-icon name="ios-pin-outline" class="icon-center-all"></ion-icon> 
                    <span margin-left-sm text-nowrap>{{ product.seller_detail.city }}</span>
                  </div>
                </div>
                <div margin-top-sm margin-left-md>
                  <ion-icon *ngFor="let medal of _loopMedalLevel" [name]="product.seller_detail.score.icon.file" [color]="product.seller_detail.score.icon.color" class="icon-center-all" style="zoom:1.2;margin-right:1px"></ion-icon>
                  <span margin-left-sm text-graybrow>{{ product.seller_detail.score.name }}</span>
                </div>
              </ion-col>
              <ion-col col-4 text-nowrap>
                <button (click)="chatSeller()" ion-button color="cyan" icon-only small block outline round>
                  <ion-icon name="md-chatbubbles"></ion-icon> {{ 'USER_CHAT_TITLE' | translate }}
                </button>
              </ion-col>
              <ion-col col-1></ion-col>
              <ion-col col-4 text-nowrap>
                <button (click)="followSeller()" ion-button [color]="followed == true ? 'light' : 'bluesexy'" icon-start round small block>
                  <ion-icon *ngIf="followed == false" name="ios-add-circle-outline"></ion-icon>
                  <ion-icon *ngIf="followed == true" name="ios-checkmark-circle-outline"></ion-icon>
                  <span *ngIf="followed == false" margin-left-sm>{{ 'USER_FOLLOW_BUTTON' | translate }}</span>
                  <span *ngIf="followed == true" margin-left-sm>{{ 'USER_UNFOLLOW_BUTTON' | translate }}</span>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div margin-top-md margin-bottom bg-white border-top border-smoke *ngIf="_dataOtherProduct.length > 0 && _nuAing == false">
          <div text-graybrow padding>{{ 'PRODUCT_OTHER_TITLE' | translate }}</div>
          <div>
            <ion-grid>
              <ion-row no-padding>
                <ion-col col-6 *ngFor="let products of _dataOtherProduct" [class]="_classColumn">
                  <div class="container-list-product" text-center position-relative>
                    <button (click)="openPage(products)" class="icon-products-click" padding-bottom>
                      <div class="container-image-product" item-start position-relative>
                        <img [src]="_cdnProduct + '/' +  products.thumb" style="width:100%" />
                      </div>
                      <br />
                      <div class="container-product-text" text-left>
                        <div text-nowrap text-sm>{{products.name}}</div>
                        <div style="display:inline-block" text-danger text-sm>{{products.fix_price}}</div>
                      </div>
                    </button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
        <div *ngIf="_readyOrder == true" bottom-detail-product></div>
      </div>
    </div>
  </div>
  <div *ngIf="_showBlank == true">
    <div padding margin text-center>
      <div margin><img src="assets/icon/kiosdesa-logo-cry.svg" style="width:50%" /></div>
      <h5 margin-top text-gray>{{ 'PRODUCT_ERROR_TITLE' | translate }}</h5>
      <p>{{ 'PRODUCT_ERROR_MESSAGE' | translate }}<br />{{ _paramRoots.name }}</p>
      <button (click)="detailProduct(_paramRoots.slug)" ion-button outline round color="danger" icon-start>
        <ion-icon name="ios-refresh" color="danger"></ion-icon> {{ 'REPLY_BUTTON' | translate }}
      </button>
    </div>
  </div>
</ion-content>
<ion-footer no-padding>
  <ion-buttons *ngIf="_nuAing == true" padding bg-light border-top border-smoke>
    <button ion-button (click)="pushPage('ProductEditPage', {slug:_paramRoots.slug, seller:_dataSeller.code_shop})" icon-end full color="secondary">
      {{ 'EDIT_BUTTON' | translate }}
      <ion-icon name="ios-create-outline"></ion-icon>
    </button>
  </ion-buttons>
  <div *ngIf="_readyOrder == true && _nuAing == false" bg-light border-top border-smoke>
    <ion-grid >
      <ion-row>
        <ion-col col-6 no-padding-bottom>
          <ion-grid no-padding>
            <ion-row no-padding>
              <ion-col col-3>
                <button (click)="decrementQty()" [disabled]="_dataQuantity == _dataMinimumOrder" [color]="_dataQuantity > _dataMinimumOrder ? 'secondary' : 'dark'" ion-button icon-only clear>
                  <ion-icon name="ios-remove-circle-outline"></ion-icon>
                </button>
              </ion-col>
              <ion-col col-6>
                <div>
                  <ion-input type="text" [readonly]="true" [(ngModel)]="_dataQuantity" [min]="_dataMinimumOrder" [max]="_dataStock" text-center></ion-input>
                </div>
              </ion-col>
              <ion-col col-3>
                <button (click)="incrementQty()" [disabled]="_dataQuantity == _dataStock" [color]="_dataQuantity < _dataStock ? 'secondary' : 'dark'" ion-button icon-only clear>
                  <ion-icon name="ios-add-circle-outline"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col col-6 no-padding-bottom>
          <button (click)="addCart(_dataQuantity)" color="secondary" ion-button icon-start block>
            <ion-icon name="md-basket"></ion-icon> {{ 'CART_ADD_TITLE' | translate }}
          </button>
        </ion-col>
        <ion-col col-12 no-padding-top>
          <button (click)="buyProduct(_dataQuantity)" color="danger" ion-button block>
            {{ 'PRODUCT_BUY_TITLE' | translate }}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>