page-product-detail {
    .badge-empty-stock {
        position: absolute;
        top: 30%;
        bottom: 30%;
        left: 0;
        right: 0;
    }
    
    .bottom-detail-product, [bottom-detail-product]
    {
        min-height: 16vh;
    }
}
