<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'PRODUCT_ADD_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="_createField" padding-horizontal>
    <ion-list>
      <ion-item *ngFor="let produk of _createField; let i = index" no-padding>
        <ion-label color="bluesexy" stacked  *ngIf="produk.type != 'hide'"><strong>{{ produk.label }}</strong></ion-label>
        <ion-input *ngIf="produk.type == 'autocomplete'" type="text" [name]="produk.field" [(ngModel)]="produk.value" (keypress)="popoverPress($event, i)" (ionChange)="choosePopover($event, i)" [placeholder]="produk.placeholder + '...'" text-smd></ion-input>
        <ion-input *ngIf="produk.type == 'text' || produk.type == 'number'" [type]="produk.type" [name]="produk.field" [(ngModel)]="produk.value" (ionBlur)="sanitizeInput(produk.value, i)" [placeholder]="produk.placeholder + '...'" [readonly]="produk.readonly" text-smd></ion-input>
        <ion-select  *ngIf="produk.type == 'select'" [(ngModel)]="produk.value" [placeholder]="produk.placeholder" text-smd>
          <ion-option *ngFor="let opsi of produk.sub_value" [value]="opsi.value" [selected]="opsi.value == produk.value">{{ opsi.name }}</ion-option>
        </ion-select>
        <ion-textarea *ngIf="produk.type == 'textarea'" [(ngModel)]="produk.value" name="{{ produk.field }}" (ionBlur)="sanitizeInput(produk.value, i)" placeholder="text here..." text-dark text-sm textarea-custom-form no-margin>
          {{ produk.value }}
        </ion-textarea>
        <div margin-top-md *ngIf="produk.type == 'hide'">
          <div *ngIf="_showUpload == true">
            <div text-bluesexy text-sm><strong>{{ 'PRODUCT_ADD_PHOTO_TITLE' | translate }}</strong></div>
            <div product-gallery border-all border-danger>
              <div loop-photo *ngFor="let thumb of _galleryPush;let i = index" >
                <div (click)="questionImages(i, thumb)" style="min-height:10vh" text-center padding-vertical-sm cursor-pointer>
                  <img [src]="_cdnServer + 'data_product/' + thumb" *ngIf="thumb" width="100%" />
                </div>
              </div>
              <div loop-photo>
                <div (click)="uploadFoto('ProductUploadPage')" style="min-height:10vh" text-center cursor-pointer padding-vertical-sm>
                  <img [src]="_cdnServer + 'data_icon/add-image.svg'" width="100%" padding-md border-gray border-vertical border-horizontal />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer bg-light border-top border-smoke>
  <ion-list no-margin>
    <div padding>
      <button (click)="doCreate()" ion-button [color]="_draftMode == true ? 'bluesexy' : 'danger'" block>
        {{ _draftMode == true ? ('CHANGE_BUTTON' | translate) : ('ADD_BUTTON' | translate) }}
      </button>
    </div>
  </ion-list>
</ion-footer>
