<ion-header>
  <ion-navbar color="oranges">
    <ion-title>{{ 'ANNOUNCE_TITLE' | translate }}</ion-title>
    <button ion-button menuToggle="right" right>
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding formal-text-layout>
	<ion-grid *ngIf="_currentData">
		<ion-row>
			<ion-col col-12 *ngIf="_currentData.title">
				<div><strong>Perihal</strong></div>
				<span [innerHtml]="_currentData.title"></span>
				<hr style="border-bottom:solid 1px #e3e3e3;height:1px;" />
			</ion-col>
			<ion-col col-6 *ngIf="_currentData.body.date">
				<ion-label>Waktu:</ion-label>
				<span [innerHtml]="_currentData.body.date"></span>
			</ion-col>
			<ion-col col-6 *ngIf="_currentData.body.venue">
				<ion-label>Tempat:</ion-label>
				<span [innerHtml]="_currentData.body.venue"></span>
			</ion-col>
			<ion-col col-12 *ngIf="_currentData.body.thumbnail">
				<img [src]="_currentData.body.thumbnail" />
			</ion-col>
			<ion-col col-12 *ngIf="_currentData.body.commands" text-right>
				<hr style="border-bottom:solid 1px #e3e3e3;height:1px;" />
			</ion-col>
			<ion-col col-12 *ngIf="_currentData.body.message" margin-top text-justify>
				<span [innerHtml]="_currentData.body.message" padding-top></span>
			</ion-col>
			<ion-col col-12 *ngIf="_currentData.body.commands" text-right>
				<div margin-top><strong>Keputusan Dari</strong></div>
				<span [innerHtml]="_currentData.body.commands"></span>
			</ion-col>
			<ion-col col-12 *ngIf="_currentData.body.attachment">
				<hr style="border-bottom:solid 1px #e3e3e3;height:1px;" />
				<ion-label color="secondary" stacked><ion-icon name="attach"></ion-icon> Lampiran</ion-label>
				<span [innerHtml]="_currentData.body.attachment"></span>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>