<ion-header>
  <ion-navbar [color]="_isSeller == true ? 'secondary' : 'oranges'">
    <ion-title><span [innerHtml]="_isSeller == true ? ('SHOP_LIST_TITLE' | translate) : ('ORDER_LIST_TITLE' | translate)"></span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding bg-light>
  <div *ngIf="_showBlank == false">
    <div padding margin-bottom-sm bg-white>
      <div text-graybrow>{{ _total }}
        <span [innerHTML]="tabReceive == 'process' || tabReceive == 'verify' ? ('ORDER_PROCESS_MESSAGE' | translate) : ('ORDER_DONE_MESSAGE' | translate)"></span>
      </div>
    </div>
    <div [ngSwitch]="tabReceive" class="container-fixed fixed-container-bottom">
      <div padding-md>
        <ion-list *ngFor="let order of _dataOrder; let i = index">
          <button (click)="detail(i)" ion-item>
            <h6 text-bold margin-bottom>
              <span text-dark>Invoice: #</span><strong text-underline text-graybrow>{{ order.invoice }}</strong>
            </h6>
            <div class="table table-left" text-sm>
              <div [class]="'text-' + order.status_shipping.color">
                <ion-icon [name]="order.status_shipping.icon" icon-center-all margin-right-sm></ion-icon>
                <span>{{ order.status_shipping.name }}</span>
                <span *ngIf="order.status_shipping.id > 3" text-gray> - <i>{{ order.shipping_vendor[1] }}</i></span>
              </div>
              <span text-gray text-sm [innerHTML]="tabReceive == 'verify' ? order.add_date : order.update_date"></span>
            </div>
            <div class="table table-right" text-sm text-wrap text-gray text-right style="max-width:50%">
              <div *ngIf="order.status_shipping.id == 1 || order.status_shipping.id == 3">{{ 'ORDER_EXPIRE_VERIF' | translate }}</div>
              <div *ngIf="order.status_shipping.id == 2">{{ 'ORDER_EXPIRE_APPROVE' | translate }}</div>
              <div *ngIf="order.status_shipping.id == 4">{{ 'ORDER_EXPIRE_PROCESS' | translate }}</div>
              <div *ngIf="order.status_shipping.id > 4 && order.status_shipping.id < 7">{{ 'ORDER_EXPIRE_SHIPPING' | translate }}</div>
              <div *ngIf="order.status_shipping.id < 7" [class]="order.status_shipping.id < 4 ? 'text-danger' : ''">{{ order.expire }}</div>
            </div>
          </button>
          <div *ngIf="_dataProduct[i]">
            <ion-list>
              <ion-item *ngFor="let product of order.data_product" >
                <div item-left>
                  <img [src]="_cdnProduct + '/' + product.thumb" width="32" />
                </div>
                <div item-inner text-left>
                  <ion-grid no-padding>
                    <ion-row no-padding>
                      <ion-col col-12 text-left>
                        <div text-sm>{{ product.name }}</div>
                      </ion-col>
                      <ion-col col-12 text-left>
                        <div text-xs text-gray>{{ 'CART_QUANTITY_TITLE' | translate }}: {{ product.quantity }}</div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </ion-item>
              <ion-item *ngIf="order.note != null" text-wrap>
                <div padding-md bg-light text-danger class="item-text-wrap" text-sm text-right [innerHTML]="sanitizer.bypassSecurityTrustHtml(order.note)"></div>
              </ion-item>
              <ion-item text-sm *ngIf="order.status_shipping.id == 1 || order.status_shipping.id == 7">
                <div class="table table-left">
                  <div text-gray [innerHTML]="'ORDER_TOTAL_FEE' | translate">: </div>
                  <div text-dark margin-bottom-md>
                    <span>{{ _symbolKurs }}</span>
                    <strong>{{ order.total_payment | seNum:0 }}</strong>
                  </div>
                  <div *ngIf="order.payment_vendor.code_unique > 0 && order.status_shipping.id == 1">
                    <div text-gray>{{ 'PAY_UNIQUE_TITLE' | translate }}</div>
                    <div text-facebook>
                      <span>+</span>
                      <strong>{{ order.payment_vendor.code_unique | seNum:0 }}</strong>
                    </div>
                  </div>
                </div>
                <div class="table table-right" style="max-width:60%">
                  <div text-right margin-bottom-md>
                    <div text-gray>{{ 'PAY_CHOOSED_NOTE' | translate }}</div>
                    <div text-secondary>{{ order.payment_vendor.name }}</div>
                  </div>
                  <div text-right *ngIf="order.payment_vendor.account_name">
                    <div text-gray>{{ 'PAY_ATASNAMA' | translate }}</div>
                    <div text-secondary>{{ order.payment_vendor.account_name }}</div>
                  </div>
                  <div *ngIf="order.payment_vendor.tax != 0 && order.status_shipping.id != 7" text-bluesexy text-right text-underline text-wrap>
                    <i>*{{ 'PAY_TAX_MESSAGE' | translate }} : <span>{{ _symbolKurs }} </span>
                      <strong>{{ order.payment_vendor.tax | seNum:0 }}</strong>
                    </i>
                  </div>
                </div>
              </ion-item>
              <ion-item>
                <div text-sm item-left>
                  <div *ngIf="order.status_shipping.id != 7">
                    <div [innerHTML]="order.status_shipping.id > 1 ? ('ORDER_TOTAL_FEE' | translate) : ('PAY_TOTAL_AMMOUNT' | translate)"></div>
                    <div [class]="order.status_shipping.id > 1 ? 'text-graybrow' : 'text-danger'">
                      <strong *ngIf="order.status_shipping.id == 1">
                        <span>{{ _symbolKurs }} </span>{{ order.total_payment + order.payment_vendor.code_unique | seNum:0 }}
                      </strong>
                      <strong *ngIf="order.status_shipping.id > 1">{{ order.total_payment_format | seNum:0 }}</strong>
                    </div>
                  </div>
                </div>
                <div item-inner text-right *ngIf="order.status_shipping.id < 3">
                  <button *ngIf="order.status_shipping.id == 2" (click)="cancelOrder(order.invoice, i)" text-sm ion-button round outline color="danger">
                    {{ 'CANCEL_BUTTON' | translate }}
                  </button>
                  <button *ngIf="order.status_shipping.id == 1" (click)="confirmPay({page:'ConfirmPayPage', param:[order.invoice, (order.total_payment + order.payment_vendor.code_unique), order.payment_vendor.name]})" text-sm ion-button round outline color="danger">
                    {{ 'PAY_CONFIRM_BUTTON' | translate }}
                  </button>
                </div>
                <div item-inner text-right *ngIf="order.status_shipping.id == 5 || order.status_shipping.id == 6 || order.status_shipping.id == 8">
                  <button 
                    (click)="responseDeliver(order.invoice, i, true)" 
                    text-sm ion-button round outline 
                    [color]="order.status_shipping.id == 5 || order.status_shipping.id == 6 ? 'secondary' : 'danger'">
                    <span [innerHTML]="order.status_shipping.id == 5 || order.status_shipping.id == 6 ? ('CART_ORDER_TITLE' | translate) + ' ' + ('APPROVE_BUTTON' | translate) : 'ORDER_CHANGE_DONE' | translate"></span>
                  </button>
                </div>
                <div item-inner text-right *ngIf="order.status_shipping.id == 7 && order.review == null">
                  <button (click)="responseDeliver(order.invoice, i, false)" text-sm ion-button round outline color="bluesexy">
                    {{ 'ORDER_FEEDBACK_RATE' | translate }}
                  </button>
                </div>
              </ion-item>
              <ion-item *ngIf="order.review != null">
                <div margin-bottom text-graybrow text-sm text-center text-underline>{{ 'ORDER_FEEDBACK_TITLE' | translate }}</div>
                <div style="display: inline-block;width: 100%;" margin-bottom-md>
                  <div class="table table-left" style="min-width:48.9%">
                    <div text-center>
                      <ion-icon [name]="order.review.rating_seller | rateicons" [color]="order.review.rating_seller | ratecolors" text-lg icon-center-all></ion-icon>
                      <span text-gray text-sm icon-center-all>{{ order.review.rating_seller | ratewords }}</span>
                    </div>
                  </div>
                  <div class="table table-right" style="min-width:48.9%">
                    <div text-md text-center>
                      <ion-icon *ngFor="let rate of order.review.rating_order" name="ios-star" color="oranges"></ion-icon>
                    </div>
                  </div>
                </div>
                <div [innerHTML]="order.review.note" text-sm padding text-wrap [class]="order.review.rating_seller < 3 ? 'bg-light text-danger' : 'bg-light text-secondary'"></div>
              </ion-item> 
            </ion-list>
          </div>
        </ion-list>
      </div>
    </div>
  </div>
  <div *ngIf="_showBlank == true" padding>
    <div padding margin text-center>
      <div margin><img src="assets/icon/kiosdesa-logo-cry.svg" style="width:50%" /></div>
      <h5 margin-top text-gray>Uups...</h5>
      <p>{{ 'ORDER_EMPTY' | translate }}</p>
    </div>
  </div>
</ion-content>
<ion-footer bg-light border-top border-smoke>
  <div class="bg-white">
    <ion-segment [(ngModel)]="tabReceive">
      <ion-segment-button *ngFor="let tabs of _tabLoop" [value]="tabs.segment" (ionSelect)="loadOrder(tabs.receive, tabs.shipping, tabs.group)">
        {{ tabs.name | uppercase }}
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-footer>