<ion-header>
  <ion-navbar color="oranges">
    <ion-title>Notifications</ion-title>
    <button ion-button menuToggle="right" end>
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="_showBlank == false">
    <ion-list *ngIf="_dataNotif">
      <button ion-item *ngFor="let notif of _dataNotif.message" (click)="openPage(notif.page, notif.route)">
        <div item-inner text-sm text-wrap [innerHtml]="notif.text" [class]="notif.priority == true ? 'text-danger' : 'text-gray'"></div>
        <div item-right>
          <ion-icon name="ios-arrow-forward" color="gray"></ion-icon>
        </div>
      </button>
    </ion-list>
    <div *ngIf="!_dataNotif" text-center>
      <p>{{ 'EMPTY' | translate }}</p>
      <button (click)="loadNotif()" ion-button outline round color="danger" icon-start>
          <ion-icon name="ios-refresh" color="danger"></ion-icon> {{ 'REPLY_BUTTON' | translate }}
      </button>
    </div>
  </div>
  <div *ngIf="_showBlank == true">
      <div padding margin text-center>
        <div margin><img src="assets/icon/kiosdesa-logo-cry.svg" style="width:50%" /></div>
        <h5 margin-top text-gray>{{ 'ERROR_TITLE' | translate }}</h5>
        <p>{{ 'ERROR' | translate }}</p>
        <button (click)="loadNotif()" ion-button outline round color="danger" icon-start>
            <ion-icon name="ios-refresh" color="danger"></ion-icon> {{ 'REPLY_BUTTON' | translate }}
        </button>
      </div>
  </div>
</ion-content>