<!-- ion-nav #content [root]="rootPage"></ion-nav -->
<ion-split-pane [when]="splitPane.splitPaneState">
  <ion-menu id="sideMainMenu" [content]="content" side="right">
    <ion-header no-shadow>
      <ion-toolbar color="primary">
        <ion-title *ngIf="user._globalUserData">
          <img [src]="user._globalUserData.avatar" class="icon-header-menu" width="32" />
          <span class="text-header-menu">
            Hi, <span [innerHtml]="user._globalUserData.shortname"></span>
          </span>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
</ion-split-pane>