page-buyer-profile {
    [badge-diamond-avatar] 
    {
        position: absolute;
        bottom: 60%;
        left: 15px;

        img
        {
            width: 16px;
            height: 16px;
        }
    }
}
