page-product-category {
    .button-footer-menu {
        padding: 0 10px;
        min-height: 20px;
        margin: 0;
        text-align: center !important;
        border-radius: 0;
        position: relative;
        z-index: 0;
        width: 100%;
    }
}