<ion-header>
  <ion-navbar color="oranges">
    <ion-searchbar (ionInput)="searchTyping($event)" (keypress)="searchPress($event)" placeholder="{{ 'SEARCH_TITLE' | translate }} {{ _paramName }}" left></ion-searchbar>
    <ion-buttons *ngFor="let topMenu of topRightMenu" end>
        <ion-badge *ngIf="topMenu.notif > 0 ? topMenu.notif : null" color="danger" class="top-notif-badge">{{ topMenu.notif }}</ion-badge>
        <button ion-button (click)="goToNextTab(topMenu)" icon-only>
            <ion-icon [name]="topMenu.icon"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="_showBlank == false">
    <div class="bg-light" padding text-gray>{{ _countProduct }} {{ 'PRODUCT_TITLE' | translate }}</div>
    <hr hr-white hr-bottom />
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let products of _listData" [class]="_classColumn">
          <div class="container-list-product" text-center position-relative>
            <div margin-bottom>
              <div class="container-image-product" item-start position-relative>
                <button (click)="openProduct(products)" class="icon-products-click">
                  <img [src]="_cdnProduct + '/' +  products.thumb" style="width:100%" />
                </button>
              </div>
              <div class="container-product-text">
                <button (click)="openProduct(products)" class="icon-products-click">
                  <div text-sm text-nowrap>{{products.name}}</div>
                  <div style="display:inline-block" text-sm text-danger>{{products.fix_price}}</div>
                </button>
                <div text-sm>
                  <button (click)="openPage({component:'SellerDetailPage',slug:products.seller_detail.slug,name:products.seller_detail.name})" class="icon-products-click">
                    <div text-nowrap text-sm>
                      <span *ngIf="products.seller_detail.premium_shop_type == true" margin-right-sm>
                        <img [src]="_cdnIcon + '/diamond.svg'" width="6%" class="icon-center-all" />
                      </span>
                      <span [ngClass]="products.seller_detail.premium_shop_type == true ? 'text-bluesexy text-underline' : 'text-gray'">
                        {{ products.seller_detail.name }}
                      </span>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="_showBlank == true">
    <div padding margin text-center>
      <div margin><img src="assets/icon/kiosdesa-logo-cry.svg" style="width:50%" /></div>
      <h5 margin-top text-gray>{{ 'CATEGORY_ERROR_TITLE' | translate }}</h5>
      <p>{{ 'CATEGORY_ERROR_MESSAGE' | translate }}<br />{{ _paramName }}</p>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-navbar>
    <ion-buttons *ngFor="let menu of bottomMenu" class="button-footer-menu" end>
      <button ion-button (click)="bottomMenuFunction({passing:menu, filter:_paramSlug, filtertype:'category'})" icon-only>
        <ion-icon [name]="menu.icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-footer>