<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'PRODUCT_TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="pushPage('ProductCreatePage', {seller:_paramRoots.seller_slug})" icon-only>
        <ion-icon name="ios-add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div bg-light padding-vartical-md border-bottom border-smoke>
    <ion-searchbar (ionInput)="searchTyping($event)" (keypress)="searchPress($event)" placeholder="{{ 'SEARCH_TITLE' | translate }}" left></ion-searchbar>
  </div>
  <div [ngSwitch]="_segmentListProduct">
    <ion-list>
      <button (click)="pushPage('ProductEditPage', {slug:produk.slug})" *ngFor="let produk of _listProductPush" ion-item wrap>
        <ion-avatar item-start>
          <img *ngIf="produk.thumb != null && produk.thumb != ''" [src]="_cdnServer.product + '/' + produk.thumb" />
        </ion-avatar>
        <h5>{{ produk.name }}</h5>
        <p text-sm text-graybrow>{{ produk.update_date }}</p>
      </button>
    </ion-list>
  </div>
  <div *ngIf="_showBlank == true">
    <div padding margin text-center>
      <div margin><img src="assets/icon/kiosdesa-logo-cry.svg" style="width:50%" /></div>
      <h5 margin-top text-gray>{{ 'ERROR_TITLE' | translate }}</h5>
      <p>{{ 'ERROR' | translate }}</p>
    </div>
  </div>
</ion-content>
<ion-footer bg-light border-top border-smoke>
  <div class="bg-white">
    <ion-segment [(ngModel)]="_segmentListProduct">
      <ion-segment-button value="publish" (ionSelect)="getData('publish')">
        PUBLISH
      </ion-segment-button>
      <ion-segment-button value="draft" (ionSelect)="getData('draft')">
        DRAFT
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-footer>