<ion-header>
  <ion-navbar>
    <ion-title>{{ 'PRODUCT_ADD_PHOTO_TITLE' | translate }}</ion-title>
    <ion-buttons *ngIf="_close == true"  start>
      <button ion-button (click)="cancel()" color="bluesexy">
        <span color="bluesexy" hideWhen="android,windows,ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows,ios"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="!isSelected">
    <div margin-bottom border-bottom border-light padding-bottom>Select image and upload</div>
    <input type="file" (change)="selectFileToUpload($event)" accept="image/*" bg-twitter padding full-width>
  </div>
  <div *ngIf="isSelected">
    <div margin-bottom border-bottom border-light padding-bottom>
      <div change-image>
        <button (click)="removeImage()" color="gray" ion-button icon-only medium middle>
          <ion-icon name="md-close"></ion-icon>
        </button>
      </div>
        <!-- Display the selected image -->
      <img [src]="image" *ngIf="image" width="100%" />
    </div>
    <div *ngIf="!image">Failed Images Stream</div> 
  </div>
</ion-content>
<ion-footer>
  <div *ngIf="isSelected" padding bg-light>
    <button ion-button color="primary" (click)="uploadFile()" color="danger" block>
      {{ 'UPLOAD_BUTTON' | translate }}
    </button>
  </div>
</ion-footer>