<div *ngIf="_dataPassing">
  <div *ngIf="this._paramRoots.field == 'district'">
    <div bg-light padding>
      <strong text-gray>{{ _defaultTitle }} </strong>
      <a (click)="nextCity()" *ngIf="_next == true" cursor-pointer float-right margin-right-sm text-info text-underline>{{ 'NEXT_BUTTON_TEXT' | translate }} </a>
    </div>
    <ion-list [attr.max-height-result-city]="_dataPassing.length > 5">
      <button ion-item *ngFor="let city of _dataPassing" (click)="choose(city)" text-smd>
        {{ city.district_name + ' (' + city.city_name + ')' }}
      </button>
    </ion-list>
  </div>
  <div *ngIf="this._paramRoots.field == 'postal_code'">
    <div bg-light padding>
      <strong text-gray>Kode Pos</strong>
    </div>
    <ion-list [attr.max-height-result-city]="_dataPassing.length > 5">
      <button ion-item *ngFor="let zip of _dataPassing; let i = index" (click)="choose({zip_code:_dataPassing[i]})" text-smd>
        {{ zip }}
      </button>
    </ion-list>
  </div>
</div>
<div *ngIf="!_dataPassing" padding>Loading...</div>