<ion-header>
  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()" color="bluesexy">
        <span color="bluesexy" hideWhen="android,windows">
          {{ 'CLOSE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding-right>
  <div padding>
    <ion-list *ngIf="_typeDataItems == 'multifield'">
      <ion-item *ngFor="let items of _dataItems">
        <ion-label fixed>{{ items.label }}</ion-label>
        <ion-input *ngIf="items.type == 'text' || items.type == 'email' || items.type == 'number'" [value]="_dataChoose[items.name]" (input)="_dataChoose[items.name] = $event.target.value;" placeholder="{{ items.placeholder }}" type="{{ items.type }}"></ion-input>
        <ion-toggle *ngIf="items.type == 'toggle'" [checked]="items.value === true" (ionChange)="_dataChoose[items.name] = $event.target.checked;"></ion-toggle>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer bg-light border-top border-smoke>
  <ion-list no-margin>
    <div padding>
      <button (click)="done()" [disabled]="_dataChoose == undefined" ion-button [color]="_dataChoose ? 'bluesexy' : 'gray'" icon-right block>
        {{ 'APPLY_BUTTON' | translate }} 
        <ion-icon name="ios-log-in"></ion-icon>
      </button>
    </div>
  </ion-list>
</ion-footer>