page-seller-detail {
    .header-seller, [header-seller]
    {
        height:150px;
        background-position: center;
        background-attachment: fixed;
        background-color: color($colors, light)
    }

    .card-seller, [card-seller]
    {
        top:40px;
        left:0;
        right:0;
    }

    .body-seller, [body-seller]
    {
        top: 60px
    }
}