<ion-header>
  <ion-navbar [color]="_nuAing == true ? 'secondary' : 'oranges'">
    <ion-buttons *ngFor="let topMenu of topRightMenu" end>
      <ion-badge *ngIf="topMenu.notif > 0 ? topMenu.notif : null" color="danger" class="top-notif-badge">{{ topMenu.notif }}</ion-badge>
      <button ion-button (click)="pushPage(topMenu.component)" icon-only>
          <ion-icon [name]="topMenu.icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <div *ngIf="_showBlank == false">
    <div *ngFor="let seller of _dataSeller">
      <div header-seller position-relative [style.backgroundImage]="'url(' + seller.banner  + ')'">
        <div card-seller position-absolute bg-white padding-md margin>
          <ion-list no-bg no-margin>
            <ion-item no-bg>
              <ion-avatar item-start>
                <img [src]="seller.logo" style="width:60px;height:60px" />
              </ion-avatar>
              <h6 text-nowrap>
                <span [ngClass]="seller.premium_shop_type == true ? 'text-facebook text-underline' : ''">
                  {{ seller.name }}
                </span>
                <span *ngIf="seller.premium_shop_type == true" margin-left-sm>
                  <img [src]="_cdnIcon + '/diamond.svg'" width="6%" class="icon-center-all" />
                </span>
              </h6>
              <p margin-top-sm margin-left-md>
                <ion-icon *ngFor="let medal of seller.score.medal" [name]="seller.score.icon.file" [color]="seller.score.icon.color" class="icon-center-all" style="zoom:1.2;margin-right:1px"></ion-icon>
                <span margin-left-sm text-graybrow>{{ seller.score.name }}</span>
              </p>
            </ion-item>
          </ion-list>
          <ion-grid no-padding *ngIf="_nuAing == false">
            <ion-row>
              <ion-col col-1 text-nowrap></ion-col>
              <ion-col col-4 text-nowrap>
                <button (click)="chatSeller()" ion-button color="cyan" icon-only small block outline round>
                  <ion-icon name="md-chatbubbles"></ion-icon> {{ 'USER_CHAT_TITLE' | translate }}
                </button>
              </ion-col>
              <ion-col col-2 text-nowrap></ion-col>
              <ion-col col-4 text-nowrap>
                <button (click)="followSeller()" ion-button [color]="followed == true ? 'light' : 'bluesexy'" icon-start round small full>
                  <ion-icon *ngIf="followed == false" name="ios-add-circle-outline"></ion-icon>
                  <ion-icon *ngIf="followed == true" name="ios-checkmark-circle-outline"></ion-icon>
                  <span *ngIf="followed == false" margin-left-sm>{{ 'USER_FOLLOW_BUTTON' | translate }}</span>
                  <span *ngIf="followed == true" margin-left-sm>{{ 'USER_UNFOLLOW_BUTTON' | translate }}</span>
                </button>
              </ion-col>
              <ion-col col-1 text-nowrap></ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      <div body-seller position-relative padding>
        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col col-4 *ngFor="let products of seller.product" [class]="_classColumn">
              <div class="container-list-product" text-center position-relative>
                <button (click)="openProduct(products)" class="icon-products-click" padding-bottom>
                  <div class="container-image-product" item-start position-relative>
                    <img [src]="_cdnProduct + '/' +  products.thumb" style="width:100%" />
                  </div>
                  <br />
                  <div class="container-product-text" text-left>
                    <div style="word-wrap:normal">{{products.name}}</div>
                    <div style="display:inline-block" text-danger>{{products.fix_price}}</div>
                  </div>
                </button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
  <div *ngIf="_showBlank == true">
    <div padding margin text-center>
      <div margin><img src="assets/icon/kiosdesa-logo-cry.svg" style="width:50%" /></div>
      <h5 margin-top text-gray>No Seller Info</h5>
      <p>Maaf, penjual {{ _paramRoots.name }} yang anda cari tidak ditemukan/terdaftar</p>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-buttons *ngIf="_nuAing == true" padding bg-light>
    <button ion-button (click)="pushPage('ProductCreatePage', {seller:_dataSellerIndex.slug})" icon-end full color="secondary">
      {{ 'PRODUCT_ADD_TITLE' | translate }}
      <ion-icon name="ios-add-circle-outline"></ion-icon>
    </button>
  </ion-buttons>
</ion-footer>